<form id="hand-filter-form">
    <table>
        <thead>
            <th></th>
            <th>Min</th>
            <th>Max</th>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" name="min-date">
                </td>
                <td>
                    <input type="date" name="max-date">
                </td>
            </tr>
            <tr>
                <td>Big Blind</td>
                <td>
                    <input type="text" name="min-bb">
                </td>
                <td>
                    <input type="text" name="max-bb">
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Update">
</form>