{% extends "filterable.html" %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'vendor/js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/pivot.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/preflop.css' %}">
<script type="text/javascript" src="{% static 'vendor/js/pivot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preflop.js' %}"></script>
{% endblock head %}

{% block top_content %}
<h1>Pre-Flop Statistics</h1>
{% endblock top_content %}

{% block display %}
<div id="pivot" style="display: none"></div>
<div id="loader" style="padding-top: 10px">
    <div class="loader"></div>
</div>
<div id="error" style="display: none">
    <h4 id="error-text"></h4>
</div>
{% endblock display %}
